@import url('font-awesome.min.css');

body {
    background-color: #FFEA00;
}

main {
    position: absolute;
    left: 50%;
    top: 40%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

h1 {
    color: #3C3C3E;
    font-family: 'Geo', sans-serif;
    font-size: 100;
    text-align: center;
    margin-bottom: 0;
}

h2 {

    
    text-align: center;
    font-family: sans-serif;
    margin-top: 0;
    font-style: italic;
}

p {
    text-align: center;
    font-family: sans-serif;
}

i.fab {
    font-size: 30;
    color: black;
}


label {
    font-family: sans-serif;
    display: block;
    margin: 0 auto;
    text-align: center;
}


input {
    display: block;
    margin: 0 auto;
}

input[type="text"] {
    margin: 15px auto;
    border: 1px dashed black;
    padding: 8px 10px;
}


input[type="submit"] {
    background-color: black;
    color: white;
    border: 0;
    padding: 5px 8px;
    cursor: pointer;
}

form {
  padding: 15px;
  background-color: rgba(255,255,255, 0.6);
}

